$cpink-100: #f967f1;
$cpink-000: #f77ef1;
$cpink-200: #e94ee1;
$cpink-300: #dd2cd4;

$cpurple-000: #e6d0fa;
$cpurple-100: #d8b2f8;
$cpurple-200: #c084f1;
$cpurple-300: #a347e8;

$cblue-000: #a3d5ff;
$cblue-100: #80c4ff;
$cblue-200: #4da8ff;
$cblue-300: #1a8cff;

$cgreen-000: #b3e6cc;
$cgreen-100: #80d4a3;
$cgreen-200: #4db876;
$cgreen-300: #1a9b4e;

$cyellow-000: #fff3b3;
$cyellow-100: #ffeb80;
$cyellow-200: #ffdf4d;
$cyellow-300: #ffd11a;

$cred-000: #ffadad;
$cred-100: #ff8c8c;
$cred-200: #ff6666;
$cred-300: #ff3333;
